body, html {
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
}
.head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  position: fixed;
  background-color: aquamarine;
  z-index: 5;
}

.head-content {
  width: 780px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.main {
  display: flex;
  width: 780px;
  margin:5em auto
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  width: 650px;
}

.sidebar {
  width: 130px;
}